.HDiv1 {
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 22px;
	padding-bottom: 22px;
	margin-left: 22px;
	margin-right: 22px;
	width: auto;
	background-color: #080404;
	color: #fff;
}

.HDiv2 {
	min-height: 36px;
	max-height: 36px;
	width: auto;
}

.HDiv3 {
	min-height: 36px;
	max-height: 36px;
	display: inline-block;
}

.HDiv4 {
	min-height: 36px;
	max-height: 36px;
	display: inline-block;
	float: right;
}

.HDiv5 {
	min-height: 36px;
	max-height: 36px;
	display: inline-block;
	float: left;
}

.HDiv6 {
	margin-top: 2px;
	margin-bottom: 2px;
	min-height: 32px;
	max-height: 32px;
	display: inline-block;
	float: right;
	margin-left: 124px;
}

.HDiv7 {
	margin-top: 2px;
	margin-bottom: 2px;
	min-height: 32px;
	max-height: 32px;
	display: inline-block;
	min-width: 200px;
}

.HBtn1 {
	margin-top: 1px;
	padding-bottom: 4px;
	min-height: 22px;
	max-height: 22px;
	float: left;
	vertical-align: middle;
	font-size: 18px;
	font-family: "Roboto Condensed";
	font-weight: 400;
}

.HBtn2 {
	margin-top: 1px;
	margin-left: 24px;
	padding-bottom: 4px;
	min-height: 22px;
	max-height: 22px;
	display: inline-block;
	float: left;
	vertical-align: middle;
	font-size: 18px;
	font-family: "Roboto Condensed";
	font-weight: 400;
}

.HBtn3 {
	margin-top: 1px;
	margin-left: 24px;
	padding-bottom: 4px;
	border-style: solid;
	border-color: #fff;
	min-height: 22px;
	max-height: 22px;
	display: inline-block;
	float: right;
	vertical-align: middle;
	font-size: 18px;
	font-family: "Roboto Condensed";
	font-weight: 400;
}

.HBtn3:hover { 
	border: #080404; 
	border-style: solid;
}

.HBtn4 {
	margin-top: 1px;
	padding-bottom: 4px;
	min-height: 22px;
	max-height: 22px;
	display: inline-block;
	float: right;
	vertical-align: middle;
	font-size: 18px;
	font-family: "Roboto Condensed";
	font-weight: 400;
}

.HText {
	border-bottom-color: #080404;
	border-bottom-style: solid;
	text-decoration: none;
	color: #fff;
}

.HText:hover { 
	border-bottom: #fff; 
	border-bottom-style: solid;
}

.HIcon {
	vertical-align: middle;
}